.swiper-section3 {
  width: 100vw;
  .swiper-slide {
    width: 400px !important;
  }
}
.nav-right {
  position: absolute;
  top: 30%;
  right: 7%;
  z-index: 1;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  background-color: var(--palette-tangerine-300);
  border-color: var(--palette-tangerine-800);
}
.nav-left {
  position: absolute;
  top: 30%;
  left: 7%;
  z-index: 1;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  background-color: var(--palette-tangerine-300);
  border-color: var(--palette-tangerine-800);
}
.frame-swiper {
  position: relative;
}

.home-page {
  display: flex;
  // width: 1400px;
  flex-direction: column;
  align-items: flex-start;
  background: var(--palette-tangerine-200);
}
.text-title {
  color: var(--palette-neutral-white);
  text-align: center;
  margin: unset;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.section1 {
  display: flex;
  height: 848px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 24.76%),
    url(<../../../../../../shared/image/section1/background.png),
    lightgray 0px -1122px / 100% 247.642% no-repeat;
  background-size: cover;
  background-position-y: 100%;
}
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
.section2-head-png {
  height: 394px;
  align-self: stretch;
  background: lightgray 0px -352.893px / 100% 203.13% no-repeat;
  object-fit: cover;
  object-position: bottom;
}

.section2-plate-png {
  height: 332px;
  flex: 1 0 0;
  object-fit: contain;
  object-position: center;
}
.frame1 {
  display: flex;
  height: 680px;
  padding: 0px 195px;
  align-items: center;
  gap: 50px;
  align-self: stretch;
}
.section2-text-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex: 1 0 0;
}
.tastebox-to-meal {
  align-self: stretch;
  color: var(--palette-tangerine-secondary);
  margin: unset;
}
.text-about-tastebox-to-meal {
  align-self: stretch;
  color: var(--palette-tangerine-800);
  margin: unset;
}

.section2-text-right {
  flex: 1 0 0;
  color: var(--palette-tangerine-800);
  margin: unset;
}
.section3 {
  display: flex;
  padding: 64px 0px 56px 0px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-radius: 80px 80px 0px 0px;
  background: var(--palette-tangerine-300);
}
.section3-frame-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}
.section3-title {
  align-self: stretch;
  color: var(--palette-tangerine-800);
  text-align: center;
  margin: unset;
}
.section3-under-title {
  align-self: stretch;
  color: var(--palette-tangerine-800);
  text-align: center;
  margin: unset;
}
.section3-menu-container {
  display: flex;
  padding: 56px 0px 32px 0px;
  justify-content: center;
  align-items: flex-start;
  gap: 56px;
  align-self: stretch;
}
.section3-menu {
  cursor: pointer;
  color: var(--palette-tangerine-500);
  text-align: center;
}
.section3-menu-active {
  color: var(--palette-tangerine-800);
  text-align: center;
}
.section3-menu-active-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.section3-under-menu-title {
  color: var(--palette-tangerine-800);
  text-align: center;
}
.section3-under-menu-description {
  color: var(--palette-tangerine-800);
  text-align: center;
}
.section3-under-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  width: 400px;
}
.section3-under-menu-text-container {
  display: flex;
  padding: 0px 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.section3-under-characteristic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}
.section3-under-characteristic-name {
  color: var(--palette-tangerine-600);
  text-align: center;
}
.section3-under-characteristic-meaning {
  color: var(--palette-tangerine-800);
  text-align: center;
}
.section3-under-characteristic-measurement {
  color: var(--palette-tangerine-800);
  text-align: center;
}
.section3-under-characteristic-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
}

.section3-under-menu-png {
  width: 400px;
  height: 400px;
  border-radius: 24px;
  object-fit: cover;
  object-position: center;
}
.frame-menu-all-products {
  display: flex;
  padding-top: 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.section3-all-products {
  color: var(--palette-tangerine-800);
  text-align: center;
}
.section3-all-products-arrow-right {
  width: 14px;
  height: 14px;
  g {
    path {
      stroke: var(--palette-tangerine-800);
    }
  }
}
.section4 {
  display: flex;
  padding: 60px 0px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  overflow: hidden;
}

.section4-items-wrap {
  position: relative;
  display: flex;
  user-select: none;
  width: 100%;
  gap: 15px;
}
.section4-items-wrap:hover .marquee-img-line {
  animation-play-state: paused;
}

.section4-div-img {
  background: #ccc;
  flex: 0 0 auto;
  counter-increment: item;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  transition: all 0.1s ease-in-out;
  width: 231px;
  height: 174px;
  border-radius: 10px;
  img {
    width: 231px;
    height: 174px;
    border-radius: 10px;
  }
}

.section4-div-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.section4-items {
  flex-shrink: 0;
  display: flex;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
  gap: 15px;
}
.marquee-img-line {
  animation: marquee-img 20s linear infinite;
}
.reverse {
  animation-direction: reverse;
}

@keyframes marquee-img {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% - 20px));
  }
}

.section5 {
  display: flex;
  padding: 56px 96px 96px 96px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
  border-radius: 80px 80px 0px 0px;
  background: var(--palette-neutral-white);
  overflow: hidden;
}

.section5-features {
  color: var(--palette-tangerine-800);
}
.section5-card-container {
  display: flex;
  align-items: flex-start;
  gap: 96px;
  transition: all 1s;
}
.section5-card {
  display: flex;
  align-items: flex-end;
  gap: 56px;
}
.section5-description-card {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.section5-description-card-special {
  width: 72px;
  height: 72px;
}

.section5-description-card-title {
  align-self: stretch;
  color: var(--palette-tangerine-800);
}

.section5-description-card-description {
  align-self: stretch;
  color: var(--palette-tangerine-800);
}
.section5-description-card-promise {
  text-align: center;
  color: var(--palette-tangerine-800);
}
.section5-description-card-promise-arrow-right {
  width: 14px;
  height: 14px;
}
.section5-img {
  width: 700px;
  height: 466px;
  border-radius: 18px;
  object-fit: cover;
  object-position: center;
}
.section6 {
  display: flex;
  padding: 96px 295px;
  align-items: flex-start;
  gap: 34px;
  align-self: stretch;
  background: var(--palette-tangerine-contrast);
}
.section6-title {
  align-self: stretch;
  color: var(--palette-tangerine-800);
  margin: unset;
}
.section6-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}
.section6-description-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.section6-frame-description-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: -4px;
  align-self: stretch;
}
.section6-title-number {
  align-self: stretch;
  color: var(--palette-tangerine-800);
  margin: unset;
}
.section6-description-title {
  align-self: stretch;
  color: var(--palette-tangerine-800);
  margin: unset;
}
.section6-description-title-about {
  align-self: stretch;
  color: var(--palette-tangerine-800);
  margin: unset;
}
.section6-img {
  flex: 1 0 0;
  align-self: stretch;
  width: 388px;
  height: 550px;
  object-position: center;
  object-fit: contain;
}
.section7 {
  display: flex;
  padding: 96px 154px;
  align-items: flex-start;
  gap: 60px;
  align-self: stretch;
  border-radius: 80px 80px 0px 0px;
}
.section7-left {
  display: flex;
  width: 276px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.section7-left-title {
  align-self: stretch;
  color: var(--palette-tangerine-800);
}
.section7-left-description {
  align-self: stretch;
  color: var(--palette-tangerine-800);
}
.section7-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  flex: 1 0 0;
  width: 756px;
}
.section7-options {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
.section7-options-box {
  display: flex;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: center;
  gap: 33px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--palette-tangerine-400);
}
.section7-option-s-box {
  display: flex;
  padding: 4px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: var(--palette-tangerine-secondary);
  border-radius: 8px 8px 0px 0px;
}
.section7-option-m-box {
  display: flex;
  padding: 4px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: var(--palette-tangerine-branding);
  border-radius: 8px 8px 0px 0px;
}
.section7-option-l-box {
  display: flex;
  padding: 4px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: var(--palette-tangerine-contrast);
  border-radius: 8px 8px 0px 0px;
}
.section7-offer-container {
  display: flex;
  padding: 0px 30px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  align-self: stretch;
}

.section7-number-meal {
  color: var(--palette-tangerine-800);
  text-align: center;
  margin: unset;
}
.section7-meal {
  color: var(--palette-tangerine-800);
  text-align: center;
  margin: unset;
}
.section7-per-meal {
  align-self: stretch;
  color: var(--palette-tangerine-600);
  text-align: center;
}
.section7-special-offer-s-box {
  color: var(--palette-tangerine-secondary);
  text-align: center;
  display: flex;
  padding: 4px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: rgba(145, 124, 120, 0.1);
}
.section7-special-offer-m-box {
  color: var(--palette-tangerine-secondary);
  text-align: center;
  display: flex;
  padding: 4px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: rgba(255, 198, 52, 0.5);
}
.section7-special-offer-l-box {
  color: var(--palette-tangerine-secondary);
  text-align: center;
  display: flex;
  padding: 4px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: rgba(253, 225, 45, 0.5);
}
.section7-price-dollar {
  color: var(--palette-tangerine-800);
  text-align: center;
}
.section7-price-value {
  color: var(--palette-tangerine-800);
  text-align: center;
  margin: unset;
}
.section7-price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  align-self: stretch;
}
.section7-faq-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.section7-faq {
  align-self: stretch;
  color: var(--palette-tangerine-800);
}
.section7-line-faq {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}
.section7-text-in-box-meal {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section7-text-in-box-container {
  position: relative;
}

.section8 {
  display: flex;
  padding: 96px;
  flex-direction: column;
  align-items: flex-start;
  gap: 43px;
  align-self: stretch;
  background: var(--palette-tangerine-100);
  overflow: hidden;
}
.section8-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.section8-news {
  color: var(--palette-tangerine-800);
  text-align: center;
  margin: unset;
}

.section8-buttons-slide {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
}
.section8-slide-container {
  overflow: hidden;
}
.section8-container-card {
  display: flex;
  width: 1450px;
  align-items: flex-start;
  gap: 38px;
}
.section8-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex: 1 0 0;
  width: 334px;
}
.section8-card-date {
  align-self: stretch;
  color: var(--palette-tangerine-600);
}
.section8-card-description {
  align-self: stretch;
  color: var(--palette-tangerine-800);
}
.section8-card-img {
  height: 237px;
  align-self: stretch;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.section8-nav-right {
  position: absolute;
  width: 46px;
  height: 46px;
  flex-shrink: 0;
  left: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
  border-color: var(--palette-tangerine-800);
}
.section8-nav-left {
  position: absolute;
  width: 46px;
  height: 46px;
  flex-shrink: 0;
  border: 1px solid transparent;
  border-radius: 50%;
  border-color: var(--palette-tangerine-800);
}
.section8-nav-no-active {
  border-color: var(--palette-tangerine-600);
  g {
    path {
      stroke-width: 1px;
      stroke: var(--palette-tangerine-600);
    }
  }
}
.section8-read-more {
  display: flex;
  padding-top: 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.section8-read-more-text {
  color: var(--palette-tangerine-800);
  text-align: center;
}
.section8-read-more-arrow-right {
  width: 14px;
  height: 14px;
}
.section9 {
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 38px;
  align-self: stretch;
  border-top: 1px solid var(--palette-tangerine-400);
  background: var(--palette-tangerine-100);
}
.section9-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.section9-title-text {
  align-self: stretch;
  color: var(--palette-tangerine-800);
  text-align: center;
  margin: unset;
}
.section9-title-about {
  align-self: stretch;
  color: var(--palette-tangerine-800);
  text-align: center;
  margin: unset;
}
.section9-text-button {
  color: var(--palette-neutral-white);
  text-align: center;
}
.section9-button {
  display: flex;
  width: 298px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: var(--palette-tangerine-branding);
  border: none;
}
