.display-2xl {
  font-family: Jost;
  font-size: 230px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.text-md {
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.display-xs {
  font-family: Jost;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 1.12px;
}
.text-lg {
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.display-xl {
  font-family: Jost;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
